body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    display: block;
}

p, button {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-color: #000;
}

button {
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#game-title {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 20px 0;
}

.highlighted-text {
    background-color: black;
    color: white;
    padding: 2px 4px;
}

.choice-button {
    margin: 5px;
    border: 2px solid #fff;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.choice-button:hover {
    background-color: #444;
}
